body {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*navigation*/
.container {
    border: 5px solid #ffcc5c;
    display: flex;
    justify-content: flex-end;
}

.container >div {
    padding: 10px;
    text-align: center;
    font-size: 14sp;
    color: #ffeead
    border 2px solid;
    background-color: green
}

#form {
    display:flex;
    flex-direction: column;
    width: 100%;
        max-width: 450px;
    height: 650px;
    border-radius: 8px;
    margin-left: 30px;
    margin-right: 60px;
    background-color: aliceblue;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}